.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar li{
    cursor: pointer;
}

.navbar .logo{
    width: 150px;
}

.navbarMenu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 22px;

}

.rightSide{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid rgb(240, 85, 131);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar button:hover {
    background:  rgb(240, 85, 131);
    color: white;
    border-color: #8645a5; 
    transform: scale(1.05); 
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar .search{
    position: relative;
}
.navbar .search .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(240, 85, 131);
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
